{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    <h5>Categories</h5>
    <ul class="list-group">
      {% for cat in categories %}
        <a href="{% url 'products:category_filter' cat.slug %}"
           class="list-group-item list-group-item-action">
          {{ cat.name }}
        </a>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-9">
    <div class="row">
      {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card h-100 product-card">

            <div class="product-image-wrapper">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>

            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">₹{{ product.price }}</p>
              <a href="{% url 'products:product_detail' product.slug %}"
                 class="btn btn-success btn-sm">View</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
