{% extends 'base.html' %}
{% block content %}

{% if query %}
  <h5 class="mb-3">
    Search results for "<strong>{{ query }}</strong>"
  </h5>
{% endif %}


<div class="row">
  <div class="col-md-3">
    <h5>Categories</h5>
    <ul class="list-group">
      {% for cat in categories %}
         {% if cat.slug %}
     <li class="list-group-item border-0 p-1">
  <a href="{% url 'products:category_filter' cat.slug %}"
     class="btn btn-outline-success btn-sm w-100
     {% if category and category.slug == cat.slug %} active {% endif %}">
    {{ cat.name }}
  </a>
</li>

    {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-9">
    <div class="row">
      {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card h-100 product-card">

            <div class="product-image-wrapper">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>

            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">₹{{ product.price }}</p>
              <a href="{% url 'products:product_detail' product.slug %}"
                 class="btn btn-success btn-sm">View</a>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if not query %}
  <!-- show categories normally -->
{% else %}
  <div class="alert alert-info">
    Showing search results. Clear search to browse categories.
  </div>
{% endif %}


    </div>
  </div>
</div>

{% endblock %}
